/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 14, 2025, 2:37:12 PM
    Author     : Fathan Fardian Sanum
*/

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fff;
}

.register-container {
    background-color: #FF3B65;
    color: white;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.register-container label {
    display: grid;
    font-size: 1.1rem;
    margin-bottom: 5px;
    justify-content: left;
}

.register-container input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.register-container button {
    width: 101.5%;
    padding: 10px;
    background-color: #ffffff;
    color: #FF3B65;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register-container button:hover {
    background-color: #FF3B65;
    color: white;
    transform: scale(1.05);
}

.login-link {
    margin-top: 20px;
    font-size: 1rem;
}

.login-link a {
    color: #ffffff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: #FF3B65;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
